a{
    color: purple;
}
section{
    border: solid 1px #000000;
    border-style: dashed;
    border-width: 2px;
    border-color: #ff0000;
}
main{
    background-image: url("cat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}